extends layout
block content
	h1 Lista
	table
		tr
			th Lp
			th Tytuł
			th Autor
			th Rok wydania
			th Wydawnictwo
			th Ilość Stron
		each book, index in bookList
			tr
				td=index+1
				td=book.title
				td=book.author
				td=book.year
				td=book.publisher
				td=book.pages
				td
					a(href="/edit/"+book.id) edytuj
				td
					a(href="/delete/"+book.id) usuń